body{
   margin: 0px;
   padding: 0px;
   font-family: 'Muli', sans-serif;
   background-color: #272727;
}

.header {
    background-color:#272727;
    width: 100%;
    height: 80 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 230px;
    margin-top: 10px;
    margin-left: 10px;    
}

.header__menu {
    margin-right: 30px;
}
.header__menu ul {
    display: none;
   list-style: none;
   padding: 0px;
   position: absolute;
   width: 100px;
   text-align: right;
   margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover{
    display: block;

}
.header__menu li {
    margin: 10px 0px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
     text-decoration: underline;
}

.header__menu--perfil {
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__menu--perfil img {
    margin-right: 8px;
    width: 40px;
}
.header__menu--perfil p{
    margin: 0px;
    color: white;
}

.main {
    height: 150px;
    text-align: center;
    
}

.main__texto {
    color: white;
    font-size: 25px;
    text-align: center;
}
.main__input {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 38px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
    align-content: center;
    
}
::placeholder{
    color: white;
}
.carusel {
    width: 100%; /* Ancho*/
    overflow:scroll; /* Genera un Scroll al pasar por los obejtos en lista */
    padding: 30px;
    position: relative; /* transmite la misma posicion para todos */
}
.carusel__contenedor {
    white-space: none;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carusel-item {
 width: 200px;
 height: 250px;
 border-radius: 20px;
 overflow: hidden;
 margin-right: 10px;
 display: inline-block; /* coloca el display en linea */
 cursor: pointer;
 transition: 450ms all; /* cambia la transision en milisegundos al aplicarle all lo aplica a todod */
 transform-origin: center left; /* cuando se genera la transformacion la alinea al centro y a la derecha */
 position: relative;
}
.carusel-item:hover ~.carusel-item{
    transform: translate3d(100px,0,0); /*realiza una transformacion animada */
}

.carusel__contenedor:hover .carusel-item {
    opacity: 0.3;/*aplica una opacidad al objeto */
}
.carusel__contenedor:hover .carusel-item:hover {
    transform: scale(1.5); /* Sirve para cambiar la escala de la transformacion 3d */
    opacity: 0.99;
}
.carusel-item_img {
width: 200px;
height: 250px;
object-fit: cover; /*sirve para colocar el tamano original de la imagen */
}

.carusel-item_detalles {

background:linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.0) 100%); /*Genera un degradado para todas las lineas desde el mas obscuro al mas claro */
font-size: 10px; /*tamano de la letra */
opacity: 0;
transition: 450ms opacity;/*genera opacidad al momento de usar linear-gradient*/
padding: 10px; /* margen interno entre los iconos */
position: absolute;
top: 180 px;  /*cambiar la posicion de los iconos dejandolos fijos*/
left: 0;  /*cambiar la posicion de los iconos dejandolos fijos*/
right: 0;  /*cambiar la posicion de los iconos dejandolos fijos*/
bottom: 0; /*cambiar la posicion de los iconos dejandolos fijos*/
}

.carusel-item_detalles:hover {
opacity: 0.99;
}
.carusel-item_detalles img {
height: 20px;
width: 20px;
}
.carusel-item_detalles p {
margin: 0px;
}

.carusel-item_detalles--titulo {
font-weight: bold;
color: white;
}
.carusel-item_detalles--subtitulo {
font-size: 8px;
color: white;
}
.carusel-item_detalles--titulo:hover{
opacity: 0.99   ;
}